@import './common';
@import './example';

body {
  overflow-x: hidden;
}

.gallery {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.photo-card-template {
  width: calc(33.33% - 20px);
  margin: 0;
  display: inline-block;
  vertical-align: top;
  height: 350px;
  border: solid 1px;
  margin: 5px;
  box-shadow: 2px 0 10px grey;
  // overflow: hidden;
}

.photo-card-template img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 3s ease-in-out;
}

.photo-card-template img:hover {
  transform: scale(1.1);
}

.photo-card-template .info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.photo-card-template .info-item {
  text-align: center;
}
