@import './common';
@import './example';

body {
  overflow-x: hidden; /* Uniemożliwienie przewijania w poziomie */
}

.gallery {
  display: flex; /* Ustawienie galerii na kontener flexbox */
  flex-wrap: wrap; /* Zdjęcia zawijane do nowego wiersza, jeśli zabraknie miejsca */
  justify-content: space-between; /* Rozłożenie elementów równomiernie na szerokość kontenera */
  align-items: center;
  gap: 0;
}

.photo-card-template {
  width: calc(33.33% - 20px); /* 33.33% szerokości kontenera minus odstęp */
  margin: 0; /* Usunięcie marginesów */
  display: inline-block; /* Zdjęcia ustawiają się obok siebie */
  vertical-align: top; /* Ustawienie do góry dla prawidłowego wyświetlania wierszy */
  height: 350px; /* Stała wysokość kontenera */
  overflow: hidden; /* Ukrycie elementów, które wychodzą poza kontener */
}

.photo-card-template img {
  width: 100%; /* Obrazek wypełnia całą dostępną szerokość kontenera */
  height: 100%; /* Obrazek wypełnia całą wysokość kontenera */
  object-fit: cover; /* Dopasowanie obrazka do wymiarów kontenera, zachowując proporcje */
}
